body {
  margin: 0 auto;
  max-width: 800px;
}

a {
  text-decoration: underline;
}

h1,
h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

ul,
p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

li {
  margin-left: 1.5rem;
}
