.form {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  max-width: 50rem;
  width: 100%;

  /* Same as Typo "text" */
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2.25rem;
}

.form label {
  margin-bottom: 0.5rem;
}

.form label span {
  color: #aaa;
}

.form input,
.form textarea {
  border: 1px solid #aaa;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-bottom: 1rem;

  /* Same as Typo "text" */
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2.25rem;
}

.form .actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form .error {
  color: red;
}

.form .success {
  color: green;
}
